body {
    display: grid;
    grid-template-rows: auto;
}
header {
    grid-area: header;
}
nav {
    grid-area: nav;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}






/* Media queries */
/* Mobil */
@media (max-width: 480px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "nav"
            "main"
            "footer";
    }
}

/* Surfplatta */
@media (min-width: 481px) {
    body {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "header nav"
            "main main"
            "footer footer";
    }
}

/* Dator */
@media (min-width: 1024px) {
    body {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "header header header"
            "nav main main"
            "footer footer footer";
    }
}