body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 4vw;
    font-family: 'Times New Roman', Times, serif;
    background-color: #777777;
}
nav{
    display: flex;
   
  
}

nav li a{
    text-decoration: none;
    color: black;

}


.first {
    display: flex

}

footer {
    background-color: #777777;
    bottom: 0;
    color: white;
    text-align: center;
    width: 100%;
    position: fixed;
}



/* Media queries */
/* Mobil */
@media (max-width: 480px) {
    body {
        /* background-color: black; */
    }
}

/* Surfplatta */
@media (min-width: 481px) {
    body {
        /* background-color: yellow; */
    }
}

/* Dator */
@media (min-width: 1024px) {
    body {
        /* background-color: blue; */
    }
}