body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 4vw;
    font-family: 'Times New Roman', Times, serif;
    background: grey;
    border-radius: 10px;
    
}
nav{

    width: 1000%;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
 

}

nav ul {
    
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: grey;
    list-style: none;
    margin-right: 4rem;
    font-size: 3vw;
   
  
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    background: white;
    color: black;
}
main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    padding: 10px;

}
  
main section article img{
    width: 100%; /* för bilden att fylla width */
    height: 100%; /* fyller height */
    object-fit: cover; /* skalar bilden över grid ytan */
    border-radius: 10px;
}

main section{
    /* display: grid;
    grid-template-columns: 3;
    grid-template-rows: 1; */
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
   
}



footer {
    background-color: #777777;
    bottom: 0;
    color: black;
    text-align: center;
    width: 100%;
    position: fixed;
}

/* Media queries */
/* Mobil */
@media (max-width: 480px) {
    main{
        grid-template-columns: 1fr;
    }
}

/* Surfplatta */
@media (min-width: 481px) {
    main{
        grid-template-columns: 1fr 2fr;
    }
}

/* Dator */
@media (min-width: 1024px) {
    main{
        grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    }
}