body{

}
header{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 4vw;
    font-family: 'Times New Roman', Times, serif;
    background: grey;
    
}
nav{

    width: 1000%;
    align-items: center;
    justify-content: center;
   

}


nav ul {
    
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: grey;
    list-style: none;

   
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 3vw;
    width: auto;
   

}
nav ul li a:hover{
    background: white;
    color: black;
}